@media (min-width: 768px) {
  li{
    padding:8px;
  }
}
@media (max-width: 576px) {
ul{
display: flex;
align-content: center !important;
flex-direction: column !important;
height: auto !important;
  }

}
@media (max-width: 320px) {
  .destack img{
    width: 90%;
  }
}