$align: left;
$bg-color: rgb(5, 4, 4);
$color-01: rgb(253, 204, 253);
$color-02: rgb(153, 194, 249);
$color-03: rgb(24, 222, 253);
$color-04: rgb(2, 49, 103);
$color-default: rgb(209, 2, 246);
$font-big: 3rem; 
$font-family-default:'Montserrat', sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;